<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>adesso kicker</title>

  <!-- Required meta tags -->
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

  <!-- Hover CSS -->
  <link rel="stylesheet" type="text/css" href="../css/hover-min.css">

  <!-- My stylesheets -->
  <link rel="stylesheet/less" type="text/css" href="../css/header.less">
  <link rel="stylesheet/less" type="text/css" href="../css/matchresult.less">

  <!-- LESS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<form>
  <div class="container">
    <!-- Who played? -->
    <div class="headline">
      <span th:text="#{'matchResult.whoPlayed'}"></span>
      <i class="fas fa-futbol" aria-hidden="true"></i>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="team-description" th:text="#{'matchResult.team1'}"></p>
        <div><input class="team-textbox" type="text" th:placeholder="#{'matchResult.player1'}"/></div>
        <div><input class="team-textbox team-margin-top" type="text" th:placeholder="#{'matchResult.player2'}"/></div>
      </div>
      <div class="col-sm-4">
        <p class="team-description" th:text="#{'matchResult.team2'}"></p>
        <div><input class="team-textbox" type="text" th:placeholder="#{'matchResult.player1'}"/></div>
        <div><input class="team-textbox team-margin-top" type="text" th:placeholder="#{'matchResult.player2'}"/></div>
      </div>
      <!-- Annotation -->
      <div class="col-sm-4">
          <p class="annotation" th:text="#{'matchResult.annotation'}"></p>
      </div>
    </div>
    <div class="headline">
      <!-- Who won -->
      <span class="headline" th:text="#{'matchResult.whoWon'}"></span>
    </div>
    <div class="row" id="radio-winner-team">
      <div class="col-sm-4">
        <div class="form-check" id="form-check-1">
          <input class="form-check-input" type="radio" name="winnerteam" id="radio1" checked>
          <label class="form-check-label" for="radio1" th:text="#{'matchResult.team1'}"></label>
          <i class="fas fa-trophy" id="radio1-icon" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check" id="form-check-2">
          <input class="form-check-input" type="radio" name="winnerteam" id="radio2">
          <label class="form-check-label" for="radio2" th:text="#{'matchResult.team2'}"></label>
          <i class="fas fa-trophy" id="radio2-icon" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <!-- When did you play? -->
    <div class="headline">
      <span class="headline" th:text="#{'matchResult.whenDidYouPlay'}"></span>
    </div>
    <div id="dateContainer">
      <input type="date" id="datepicker" name="date"/>
      <i class="fa fa-calendar-check" aria-hidden="true"></i>
    </div>
    <div>
      <button class="btn creatematch-btn" th:text="#{'matchResult.createMatch'}"></button>
    </div>
  </div>
</form>
<!-- Set date of datepicker to today's date -->
<script>document.getElementById("datepicker").valueAsDate = new Date();</script>
</body>
</html>