<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>adesso kicker</title>

  <!-- Required meta tags -->
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">
  <!-- Hover CSS -->
  <link rel="stylesheet" type="text/css" href="/css/hover-min.css">

  <!-- My stylesheets -->
  <link rel="stylesheet/less" type="text/css" href="/css/header.less">
  <link rel="stylesheet/less" type="text/css" href="/css/profile.less">
  <!-- LESS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="container" id="text-container">
  <h2 th:text="${user.getFullName()}"></h2>
</div>
<!-- User Statistics -->
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="statistic statistic-1">
        <p class="statistic-title" th:text="#{statistics.rank}"></p>
        <i class="fas fa-chart-line"></i>
        <p class="statistic-value" th:text="${rankingPosition}"></p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="statistic statistic-2">
        <p class="statistic-title" th:text="#{statistics.points}"></p>
        <i class="fas fa-trophy"></i>
        <p class="statistic-value" th:text="${user.ranking.rating}"></p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="statistic statistic-3">
        <p class="statistic-title" th:text="#{statistics.matchesPlayed}"></p>
        <i class="fas fa-futbol"></i>
        <p class="statistic-value" th:text="${user.getPlayedMatches()}"></p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="statistic statistic-4">
        <p class="statistic-title" th:text="#{statistics.wins}"></p>
        <i class="fas fa-check"></i>
        <p class="statistic-value" th:text="${user.wins}"></p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="statistic statistic-5">
        <p class="statistic-title" th:text="#{statistics.losses}"></p>
        <i class="fas fa-times"></i>
        <p class="statistic-value" th:text="${user.losses}"></p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="statistic statistic-6">
        <p class="statistic-title" th:text="#{statistics.winRate}"></p>
        <i class="fas fa-balance-scale"></i>
        <p class="statistic-value" th:text="${user.getWinRatio() + '%'}"></p>
      </div>
    </div>
  </div>
</div>
<hr>
</body>
</html>