<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>adesso kicker</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

  <!-- Hover CSS -->
  <link rel="stylesheet" type="text/css" href="/css/hover-min.css">
  <!-- ChartJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
  <script src="/js/chartFillPlugin.js"></script>

  <!-- My stylesheets -->
  <link rel="stylesheet/less" type="text/css" href="/css/header.less">
  <link rel="stylesheet/less" type="text/css" href="/css/profile.less">

  <!-- LESS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>
<body>

<!-- Header -->
<header th:replace="~{fragments/header.html :: header}"></header>

<!-- Profile Name -->
<div class="container" id="text-container">
  <h1 th:text="${user.getFullName()}" id="userID" th:value="${user.userId}"></h1>
</div>

<!-- Profile Statistics -->
<div class="container">
  <!-- Display if player has no statistic -->
  <div class="alert alert-danger" role="alert" th:if="${user.statistic == null}" th:text="#{profile.noRank}"></div>
  <div class="row" th:if="${user.statistic}">
    <!-- Rank -->
    <div class="col-lg-2">
      <div class="statistic">
        <p class="statistic-title" th:text="#{statistic.rank}"></p>
        <i class="fas fa-chart-line"></i>
        <p class="statistic-value" th:text="${user.statistic.rank}"></p>
      </div>
    </div>
    <!-- Points -->
    <div class="col-lg-2">
      <div class="statistic" id="statistic-2">
        <p class="statistic-title" th:text="#{statistic.points}"></p>
        <i class="fas fa-trophy"></i>
        <p class="statistic-value" th:text="${user.statistic.rating}"></p>
      </div>
    </div>
    <!-- Matches Played -->
    <div class="col-lg-2">
      <div class="statistic" id="statistic-3">
        <p class="statistic-title" th:text="#{statistic.matchesPlayed}"></p>
        <i class="fas fa-futbol"></i>
        <p class="statistic-value" th:text="${user.statistic.getPlayedMatches()}"></p>
      </div>
    </div>
    <!-- Wins -->
    <div class="col-lg-2">
      <div class="statistic" id="statistic-4">
        <p class="statistic-title" th:text="#{statistic.wins}"></p>
        <i class="fas fa-check"></i>
        <p class="statistic-value" th:text="${user.statistic.wins}"></p>
      </div>
    </div>
    <!-- Losses -->
    <div class="col-lg-2">
      <div class="statistic" id="statistic-5">
        <p class="statistic-title" th:text="#{statistic.losses}"></p>
        <i class="fas fa-times"></i>
        <p class="statistic-value" th:text="${user.statistic.losses}"></p>
      </div>
    </div>
    <!-- WinRate -->
    <div class="col-lg-2">
      <div class="statistic" id="statistic-6">
        <p class="statistic-title" th:text="#{statistic.winRate}"></p>
        <i class="fas fa-balance-scale"></i>
        <p class="statistic-value" th:text="${user.statistic.getWinRatio()+'%'}"></p>
      </div>
    </div>
  </div>
</div>
<hr>
<!--ChartJS Canvas-->
<div class="container-fluid chart-container" th:if="${user.statistic}">
  <div class="row">
    <div class="col-lg-4 chart">
      <h3 class="chart-headline" th:text="#{chart.rankOverTime}"></h3>
      <canvas class="chart-canvas" id="canvas-rank-over-time"></canvas>
    </div>
    <div class="col-lg-4 chart">
      <h3 class="chart-headline" th:text="#{chart.winRateOverTime}"></h3>
      <canvas class="chart-canvas" id="canvas-win-rate-over-time"></canvas>
    </div>
    <div class="col-lg-4 chart">
      <h3 class="chart-headline" th:text="#{chart.winsAndLossesPerDay}"></h3>
      <canvas class="chart-canvas" id="canvas-wins-losses-over-time"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 chart">
      <h3 class="chart-headline" th:text="#{chart.winDifference}"></h3>
      <canvas class="chart-canvas" id="canvas-win-difference"></canvas>
    </div>
    <div class="col-lg-4 chart">
      <h3 class="chart-headline">chart 5</h3>
      <canvas class="chart-canvas" id=""></canvas>
    </div>
    <div class="col-lg-4 chart">
      <h3 class="chart-headline">chart 6</h3>
      <canvas class="chart-canvas" id=""></canvas>
    </div>
  </div>
</div>
<!--Script for chartJs-->
<script>
    var userID = $('#userID').attr("value");
    $.getScript("/users/js/" + userID);
</script>
</body>
</html>