<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>adesso kicker</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

  <!-- Hover CSS -->
  <link rel="stylesheet" type="text/css" href="/css/hover-min.css">

  <!-- My stylesheets -->
  <link rel="stylesheet/less" type="text/css" href="/css/header.less">
  <link rel="stylesheet/less" type="text/css" href="/css/ranking.less">

  <!-- LESS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

  <!-- Statistic JS -->
  <script src="/js/ranking.js"></script>
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div id="everything-above-table" class="container">
  <div class="row">
    <div class="col-11">
      <div id="playerName">
        <!-- Searchbar -->
        <div class="search-bar">
          <div class="input-group">
            <div class="input-group-prepend" id="search-bt">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input class="form-control" type="text" th:placeholder="#{searchBar}"/>
          </div>
          <div class="panel-body search-bar-content container">
            <ul class="list-group">
              <li class="list-group-item" th:each="user : ${allUsers}"
                  onclick="window.location.href=this.getAttribute('href')"
                  th:href="@{/statistic(page=${user.statistic.rank <= (param.size == null ? 10 : T(Integer).parseInt(param.size)) ? 0 :
                  ((user.statistic.rank - 1) / (param.size == null ? 10 : T(Integer).parseInt(param.size)))},size=${param.size == null ? 10 : param.size}, player=${user.getUserId()})}">
                <span th:text="${user.getFullName()}">No user found</span>
              </li>
            </ul>
          </div>
        </div>
        <h2 th:text="#{header.statistic}"></h2>
      </div>
    </div>
    <!-- Pager Buttons Vertical -->
    <div class="col-1">
      <div class="btn-group-vertical" id="pager-vertical">
        <div th:if="${(param.page != null) && (T(Integer).parseInt(param.page) != 0)}">
          <button class="pager" onclick="previousPage()"><i class="fas fa-chevron-circle-up"></i></button>
        </div>
        <div
            th:if="${@userService.getUserPageSortedByRating((param.page == null ? 1 : T(Integer).parseInt(param.page)+1), (param.size == null ? 10 : param.size)).size() != 0}">
          <button class="pager" onclick="nextPage()"><i class="fas fa-chevron-circle-down"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- User List -->
<div class="container-fluid">
  <div class="shadow-sm" id="table-container" th:if="${allUsers.size()>0}">
    <table class="user-table table">
      <thead>
      <tr>
        <!-- Rank -->
        <th>
          <span th:text="#{statistic.rank}"></span>
          <i class="fas fa-chart-line"></i>
        </th>
        <!-- Name -->
        <th class="thead-name">
          <span th:text="#{statistic.name}"></span>
        </th>
        <!-- Wins -->
        <th>
          <span th:text="#{statistic.wins}"></span>
          <i class="fas fa-check"></i>
        </th>
        <!-- Win-Rate -->
        <th>
          <span th:text="#{statistic.winRate}"></span>
          <i class="fas fa-balance-scale"></i>
        </th>
        <!-- Points -->
        <th>
          <span th:text="#{statistic.points}"></span>
          <i class="fas fa-trophy"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <!-- All users -->
      <tr class="user-table-row" onclick="window.location.href=this.getAttribute('href')"
          th:each="player : ${users}"
          th:href="@{/users/u/{id}(id=${player.userId})}"
          th:id="${param.player == null ? (player == user ? 'user-self' : '') : (player.getUserId() == param.player[0] ? 'user-searched' : (player == user ? 'user-self' : ''))}">
        <td>
          <span class="badge badge-position align-center" th:text="${player.statistic.rank}"></span>
        </td>
        <td class="user-table-name" th:text="${player.getFullName()}"></td>
        <td th:text="${player.statistic.wins}"></td>
        <td th:text="${player.statistic.getWinRatio() + '%'}"></td>
        <td th:text="${player.statistic.rating}"></td>
      </tr>
      <!-- Logged-In User -->
      <tr class="user-table-row"
          sec:authorize="isAuthenticated()"
          th:if="${!users.contains(user) && user.statistic != null}"
          th:href="@{/users/u/{id}(id=${user.userId})}"
          onclick="window.location.href=this.getAttribute('href')" id="user-self">
        <td>
          <span id="user-self-badge" class="badge badge-position align-center" th:text="${user.statistic.rank}"></span>
        </td>
        <td class="user-table-name" th:text="${user.getFullName()}"></td>
        <td th:text="${user.statistic.wins}"></td>
        <td th:text="${user.statistic.getWinRatio() + '%'}"></td>
        <td th:text="${user.statistic.rating}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${allUsers.size()==0}">
    <h2 class="text-center" th:text="#{statistic.noRanks}"></h2>
  </div>
  <div id="noRankList" class="text-center alert alert-danger" role="alert" sec:authorize="isAuthenticated()" th:if="${@userService.getLoggedInUser().getStatistic()==null}" th:text="#{statistic.noRank}"></div>
</div>
<!-- Pager Buttons Horizontal -->
<div class="btn-group-horizontal" id="pager-horizontal">
  <div th:if="${(param.page != null) && (T(Integer).parseInt(param.page) != 0)}">
    <button class="pager" onclick="previousPage()"><i class="fas fa-chevron-circle-up"></i></button>
  </div>
  <div
      th:if="${@userService.getUserPageSortedByRating((param.page == null ? 1 : T(Integer).parseInt(param.page)+1), (param.size == null ? 10 : param.size)).size() != 0}">
    <button class="pager" onclick="nextPage()"><i class="fas fa-chevron-circle-down"></i></button>
  </div>
</div>
<script src="/js/searchbar.js"></script>
</body>
</html>