<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>adesso kicker</title>

  <!-- Required meta tags -->
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

  <!-- Hover CSS -->
  <link rel="stylesheet" type="text/css" href="/css/hover-min.css">

  <!-- My stylesheets -->
  <link rel="stylesheet/less" type="text/css" href="/css/header.less">
  <link rel="stylesheet/less" type="text/css" href="/css/ranking.less">

  <!-- LESS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

  <!-- ranking js -->
  <script src="/js/ranking.js"></script>

</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div id="everything-above-table" class="container">
  <div class="row">
    <div class="col-11">
      <div id="text-container">
        <!-- Searchbar -->
        <div class="search-bar">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
            </div>
            <input class="form-control" type="text" th:placeholder="#{'searchbar'}"/>
          </div>
          <div class="panel-body search-bar-content container">
            <ul class="list-group">
              <li class="list-group-item" th:each="u : ${allUsers}"
                  onclick="window.location.href=this.getAttribute('href')"
                  th:href="@{/ranking(page=${@rankingService.getPositionOfPlayer(u.ranking) <= (param.size == null ? 10 : T(Integer).parseInt(param.size)) ? 0 :
                  ((@rankingService.getPositionOfPlayer(u.ranking) - 1) / (param.size == null ? 10 : T(Integer).parseInt(param.size)))},size=${param.size == null ? 10 : param.size})}">
                <span th:text="${u.getFullName()}">No user found</span>
              </li>
            </ul>
          </div>
        </div>
        <h2 th:text="#{sites.ranking}"></h2>
      </div>
    </div>
    <!-- Pager Buttons Vertical -->
    <div class="col-1">
      <div class="btn-group-vertical hide-on-small-screen">
        <div th:if="${(param.page != null) && (T(Integer).parseInt(param.page) != 0)}">
          <button class="pager" onclick="previousPage()"><i class="fas fa-chevron-circle-up"></i></button>
        </div>
        <div
            th:if="${@userService.getUserPageSortedByRating((param.page == null ? 1 : T(Integer).parseInt(param.page)+1), (param.size == null ? 10 : param.size)).size() != 0}">
          <button class="pager" onclick="nextPage()"><i class="fas fa-chevron-circle-down"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- User List -->
<div class="container-fluid" id="table-container">
  <table class="user-table table">
    <thead>
    <tr>
      <th th:text="#{statistics.rank}"></th>
      <th th:text="#{ranking.name}"></th>
      <th th:text="#{statistics.wins}"></th>
      <th th:text="#{statistics.winRate}"></th>
      <th th:text="#{statistics.points}"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="user-table-row" onclick="window.location.href=this.getAttribute('href')" th:each="player : ${users}"
        th:href="@{/users/u/{id}(id=${player.userId})}">
      <td th:text="${@rankingService.getPositionOfPlayer(player.ranking)}"></td>
      <td th:text="${player.getFullName()}"></td>
      <td th:text="${player.wins}"></td>
      <td th:text="${player.getWinRatio() + '%'}"></td>
      <td th:text="${player.ranking.rating}"></td>
    </tr>
    <tr class="user-table-row" th:if="${user}" onclick="window.location.href=this.getAttribute('href')"
        th:href="@{/users/u/{id}(id=${user.userId})}" id="user-self">
      <td th:text="${@rankingService.getPositionOfPlayer(user.ranking)}"></td>
      <td th:text="${user.getFullName()}"></td>
      <td th:text="${user.wins}"></td>
      <td th:text="${user.getWinRatio() + '%'}"></td>
      <td th:text="${user.ranking.rating}"></td>
    </tr>
    </tbody>
  </table>
</div>
<!-- Pager Buttons Horizontal -->
<div class="btn-group-horizontal hide-on-large-screen">
  <div th:if="${(param.page != null) && (T(Integer).parseInt(param.page) != 0)}">
    <button class="pager" onclick="previousPage()"><i class="fas fa-chevron-circle-up"></i></button>
  </div>
  <div
      th:if="${@userService.getUserPageSortedByRating((param.page == null ? 1 : T(Integer).parseInt(param.page)+1), (param.size == null ? 10 : param.size)).size() != 0}">
    <button class="pager" onclick="nextPage()"><i class="fas fa-chevron-circle-down"></i></button>
  </div>
</div>
<script src="/js/searchbar.js"></script>
</body>
</html>