<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Adesso-Kicker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--My stylesheet-->
    <link rel="stylesheet" href="../css/profile.css">
</head>
<!--Catch NullpointerEx of user-->
<body th:if="${user}!=null">
    <!--Top Part-->
    <div class="containerTop">
        <!--Everything displayed on the top left side-->
        <div id="topDisplay" style="width: 50%;">
            <h1 th:text="${user.firstName} + ' ' + ${user.lastName}"></h1>
            <!--Searchbar-->
            <div id="searchbarComplex">
                <div>
                    <p> Nach anderen Spielern suchen</p>
                    <input class="form-control" id="searchBar" type="text" placeholder="Search...">
                </div>
                <div class="panel-body" id="searchedUser">
                    <ul class="list-group">
                        <li style="background-color: rgb(128, 128, 128);" th:each="u : ${allUsers}" class="list-group-item"><a style="color:white;" th:text="${u.firstName} + ' ' + ${u.lastName}" th:href="@{/users/{id}(id=${u.userId})}">No user found</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--TounamentMedals-->
        <div class="containerMedal">
            <div class="elementMedal">
                <span class="glyphicon glyphicon-certificate"></span>
                <p class="stats">[1.Platz]</p>
            </div>
            <div class="elementMedal">
                <span class="glyphicon glyphicon-certificate"></span>
                <p class="stats">[2.Platz]</p>
            </div>
            <div class="elementMedal">
                <span class="glyphicon glyphicon-certificate"></span>
                <p class="stats">[3.Platz]</p>
            </div>
        </div>
    </div>
    <hr>
    <!--Stats-->
    <div class="containerStats">
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Rangplatzierung</p>
            <span class="glyphicon glyphicon-equalizer"></span>
            <p class="elementStats">[RankingPos]</p>
        </div>
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Rangpunkte</p>
            <span class="glyphicon glyphicon-tags"></span>
            <p class="elementStats">[RankingPoints]</p>
        </div>
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Gespielte Spiele</p>
            <span class="glyphicon glyphicon-pawn"></span>
            <p class="elementStats">[GamesPlayed]</p>
        </div>
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Siege</p>
            <span class="glyphicon glyphicon-flag"></span>
            <p class="elementStats" th:text="${user.wins}">[Wins]</p>
        </div>
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Niederlagen</p>
            <span class="glyphicon glyphicon-remove"></span>
            <p class="elementStats" th:text="${user.losses}">[Looses]</p>
        </div>
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Siegesquote</p>
            <span class="glyphicon glyphicon-king"></span>
            <p class="elementStats">[WinRatio]</p>
        </div>
    </div>

    <!--Search Filter-->
    <script>
        //When doc has loaded
        $(document).ready(function () {
            //When clicking on the seachbar
            $("#searchBar").on("focus", function () {
                $("#searchedUser").toggle();
            });
            //Leaving' the search bar
            $("#searchBar").on("blur", function () {
				//Short delay -> workaround to allow clicking on searched users without toggling them so you cant click them
            	setTimeout(function(){$("#searchedUser").toggle();}, 200);
            });
            /*Enter press in searchbar
            if (event.which == 13) {
                alert("Enter");
            }*/
            //When typing a char in the seachbar
            $("#searchBar").on("keyup", function (event) {
                //Enter press in searchbar
                if (event.which == 13) {
                    //Open first list element
                    

                    var link = document.getElementById("searchedUser").querySelector("ul").querySelector("li").querySelector("a").href;
                    alert(link);
                    window.open(link, "_self");
                    return;
                }
                var value = $(this).val().toLowerCase();
                //Foreach element
                $(".list-group li").filter(function () {
                    //indexOf() returns the positions of the char typed in the search bar (returns -1 if word doesnt contain char --> toggle element)
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>
</html>
