<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel='stylesheet' href='/css/login.css'>
		<title>Login</title>
	</head>

	<body>
		
		</br></br></br></br>
		
		<div class='row'>

			<div class='col-lg-4'></div>
			<div class='col-lg-4 logBox'>
			
				<form th:action="@{/login}" method="POST" class="form-signin">
					<h3 class="form-signin-heading" th:text="Welcome"></h3>
					</br>
					<input type="text" id="email" name="email"  th:placeholder="Email" class="form-control" /> <br/>
					<input type="password"  th:placeholder="Password" id="password" name="password" class="form-control" /> <br />
						   
					<a th:if="${param.error}">
						<p style="color: red; float: right;">Email or Password invalid, please verify</p>
					</a>
					
					<input type="checkbox" name="remember-me" />Remember Me </br></br>
		
					<div>Not registered yet?  <a href='/registration'>Sign up now!</a></div>
					<button class='btn btn-primary' name="Submit" value="Login" type="Submit" th:text="Login"></button>
				</form>
				
			</div>
			<div class='col-lg-4'></div>
		</div>
		
	</body>
	
</html>