<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Adesso-Kicker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!--My stylesheet-->
    <link rel="stylesheet" href="../css/profile.css">
</head>
<!--Catch NullpointerEx of user-->
<body th:if="${user}!=null">
<header th:replace="~{fragments/header :: header}"></header>
    <!--Top Part-->
    <div class="containerTop">
        <!--Everything displayed on the top left side-->
        <div id="topDisplay" style="width: 50%;">
            <h1 th:text="${user.firstName} + ' ' + ${user.lastName}"></h1>
            <!--Searchbar
            <div id="searchbarComplex">
                <div>
                    <p> Nach anderen Spielern suchen</p>
                    <input class="form-control" id="searchBar" type="text" placeholder="Search...">
                </div>
                <div class="panel-body" id="searchedUser">
                    <ul class="list-group">
                        <li style="background-color: rgb(128, 128, 128);" th:each="u : ${allUsers}" class="list-group-item"><a style="color:white;" th:text="${u.firstName} + ' ' + ${u.lastName}" th:href="@{/users/{id}(id=${u.userId})}">No user found</a></li>
                    </ul>
                </div>
            </div>
            -->
        </div>
        <!--TounamentMedals-->
        <div class="containerMedal">
            <div class="elementMedal">
                <span class="fas fa-trophy"></span>
                <p class="stats">[1.Platz]</p>
            </div>
            <div class="elementMedal">
                <span class="fas fa-medal"></span>
                <p class="stats">[2.Platz]</p>
            </div>
            <div class="elementMedal">
                <span class="fas fa-award"></span>
                <p class="stats">[3.Platz]</p>
            </div>
            <div class="elementMedal">
                <span class="fas fa-clipboard-check"></span>
                <p class="stats">[Teilgenommen]</p>
            </div>
        </div>
    </div>
    <hr>
    <!--Stats-->
    <div class="containerStats">
        <!--
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Rangplatzierung</p>
            <span class="glyphicon glyphicon-equalizer"></span>
            <p class="elementStats">[RankingPos]</p>
        </div>
        <div class="elementStats">
            <p style="font-size: 15px;" class="stats">Rangpunkte</p>
            <span class="glyphicon glyphicon-tags"></span>
            <p class="elementStats">[RankingPoints]</p>
        </div>
        -->
        <div class="elementStats">
            <span class="glyphicon glyphicon-pawn"></span>
            <p class="elementStats">[GamesPlayed]</p>
        </div>
        <div class="elementStats">
            <span class="fas fa-check"></span>
            <p class="elementStats" th:text="${user.wins}">[Wins]</p>
        </div>
        <div class="elementStats">
            <span class="fas fa-times"></span>
            <p class="elementStats" th:text="${user.losses}">[Looses]</p>
        </div>
        <div class="elementStats">
            <span class="fas fa-chart-pie"></span>
            <p class="elementStats">[WinRatio]</p>
        </div>
    </div>

    <!--Search Filter
    <script>
        //When doc has loaded
        $(document).ready(function () {
            //When clicking on the seachbar
            $("#searchBar").on("focus", function () {
                $("#searchedUser").toggle();
            });
            //Leaving' the search bar
            $("#searchBar").on("blur", function () {
				//Short delay -> workaround to allow clicking on searched users without toggling them so you cant click them
            	setTimeout(function(){$("#searchedUser").toggle();}, 200);
            });
            //When typing a char in the seachbar
            $("#searchBar").on("keyup", function (event) {
                /*Enter press in searchbar
                if (event.which == 13) {
                    //Get all list elements
                    var listEl = $(".list-group-item");
                    //Find first valid (not hidden) element
                    var firstValidEl = null;
                    for (i = 0; i < listEl.length; i++){
                    	alert(listEl[i].style.display);
                    	if (0 == 1){
                    		firstValidEl = listEl[i];
                    		alert(i);
                    		break;
                    	}
                    }
                	//var link = document.getElementById("searchedUser").querySelector("ul").querySelector("li").querySelector("a").href;
                    window.open(firstValidEl.href, "_self");
                    return;
                }*/
                var value = $(this).val().toLowerCase();
                //Foreach element
                $(".list-group li").filter(function () {
                    //indexOf() returns the positions of the char typed in the search bar (returns -1 if word doesnt contain char toggle element)
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    -->
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
