<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Search for Teams</h2>
<form th:object="${teams}" th:action="@{/teams/list}" method="get">
    Name: <input type="text" name="search" id="search" placeholder="Teamname"/>
    <input type="submit" value="Suchen"/>
    <div th:if="${not #lists.isEmpty(search)}">
        <h2>User-List</h2>
        <table>
            <tr>
                <th>Teamname</th>
                <th>Spieler 1</th>
                <th>Spieler 2</th>
            </tr>
            <tr th:each="teams: ${search}">
                <td><a th:href="@{'/teams/'+${teams.teamId}}" th:text="${teams.teamName}"></a></td>
                <td><a th:href="@{'/users/'+${teams.playerA.userId}}" th:text="${teams.playerA.firstName}+' '+${teams.playerA.lastName}"></a></td>
                <td><a th:href="@{'/users/'+${teams.playerB.userId}}" th:text="${teams.playerB.firstName}+' '+${teams.playerB.lastName}"></a></td>
            </tr>
        </table>
    </div>
</form>

</body>
</html>