<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Search for Teams</h2>
<form th:object="${tournaments}" th:action="@{/tournaments/list}" method="get">
    Name: <input type="text" name="search" id="search" placeholder="Turniername"/>
    <input type="submit" value="Suchen"/>
    <div th:if="${not #lists.isEmpty(search)}">
        <h2>User-List</h2>
        <table>
            <tr>
                <th>Zeitspanne</th>
                <th>Turnier-Name</th>
                <th>Beschreibung</th>
                <th>Format</th>
                <th>Status</th>
            </tr>
            <tr th:each="teams: ${search}">
                <td th:text="${tournaments.startDate}+'-'+${tournaments.endDate}"></td>
                <td><a th:href="@{'/users/'+${tournaments.tournamentId}}" th:text="${tournaments.tournamentName}"></a></td>
                <td th:text="${tournaments.description}"></td>
                <td th:text="${tournaments.format}"></td>
                <td th:text="${tournaments.finished}"></td>
            </tr>
        </table>
    </div>
</form>

</body>
</html>
-->
