<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<footer th:fragment="footer" style="background-color: lightgrey;">
    <div class="card-footer text-center text-muted">
        <a th:href="@{/impressum}">Impressum</a><br>
        &copy Copyright adesso AG. Alle Rechte vorbehalten.
    </div>
</footer>
</html>