<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
		<link rel="stylesheet" href="/css/homeStyle.css">
	</head>
	
	<header th:fragment="header" style="background-color: lightgrey;">
	
		<style>#navbar{overflow: hidden; background-color: #333; z-index: 1000; margin: 0px}.sticky{position: fixed;top: 0;width: 100%;}.sticky + .content {padding-top: 60px;}#navbar a {float: left; display: block ;color: #f2f2f2; text-align: center; padding: 14px; text-decoration: none;}</style>
	
		<div class='row dissize'>
			<div class='col-lg-4'></div>			
			<div class='col-lg-4'>
				<h1 class='heading' style='font-size: 50px; font-weight: bold;'>Adesso - Kicker</h1>
				<h3 class='heading'>Kicker Turnier- und Ranking Tool</h3>	
			</div>
			
			<div class='col-lg-4'>
				<div class='row dissize'>
					<div class='col-lg-3'></div>
					<div class='col-lg-8' style='margin-top: 20px; margin-bottom: 20px;'>
						<h3 th:if="${user != null}" th:text="${user.firstName} + ' ' + ${user.lastName}">Please login</h3>
						<h3 th:if="${user == null}"><a href="/login">Please login</a></h3>
					</div>
				</div>
				<div class='rowdissize'>
					<div class='col-lg-1'></div>
					<a href="/logout">
					<div class='col-lg-4 container' style='border-style: groove; margin-top: 10px; box-shadow: 4px 4px black;' onmouseover='this.style.backgroundColor = "white"; this.style.boxShadow = "8px 8px black";' onmouseout='this.style.backgroundColor = "inherit"; this.style.boxShadow = "4px 4px black";'>						
						<h3 style='text-align: center; margin: 10px;'>Abmelden</h3>
					</div>
					</a>
					<div class='col-lg-1'></div>
					<div class='col-lg-4 container' style='padding: 10px; border-radius: 10px; width: 90px; height: 85px' onmouseover='this.style.backgroundColor = "white"; this.style.boxShadow = "5px 5px 2px grey"; this.style.borderStyle = "groove";' onmouseout='this.style.backgroundColor = "inherit"; this.style.boxShadow = "none"; this.style.borderStyle = "none";'>
						<span onclick='toggleNotificationList()' id='notificationIcon' class='glyphicon glyphicon-envelope' style='font-size: 60px; text-align: left;'></span>
						
						<!-- NotificationList -->
						<div id="notificationList" th:if="${notifications} != null">
						
							<div class="notificationList_El" th:each="n : ${notifications}" th:attr="value = ${n.notificationId}">
							
								<button th:onclick="${'deleteNotification(' + n.notificationId + ');'}" class="notificationList_El_DeclineBT">X</button>
								<div class="notificationList_El_Text" th:text="${n.message}">ERROR: Displaying Notification</div>
								<button th:onclick="'javascript:acceptNotification(\'' + ${notificationService} +'\',\''+ ${n.notificationId} +  '\');'" class="notificationList_El_AcceptBT">Annehmen</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>	
		
		<div class='row dissize'>
			<div class='col-lg-10'></div>
			<div class='col-lg-2' id='note' style='position: relative;'></div>
		</div>	
		
		<nav id='navbar' class="navbar sticky-top navbar-inverse">
		  <div class="container-fluid">
  
			<div class="navbar-header">
			  <a class="navbar-brand" th:href="@{/home}">Adesso Kicker</a>
			</div>
			
			<ul class="nav sticky-top navbar-nav">
			
				<li id="tabHome"><a th:href="@{/home}">Home</a></li>
				<li id="tabTournaments"><a th:href="@{/tournaments}">Turniere</a></li>
				<li id="tabUsers"><a th:href="@{/users}">Users</a></li>  
				<li id="tabTeams"><a th:href="@{/teams}">Teams</a></li>
				<li id="tabMatches"><a th:href="@{/matches}">Matches</a></li>
			  
			</ul>
		  </div>  
		</nav> 
		
			<script type='text/javascript' th:src='@{/js/notification.js}'></script>
			<script type='text/javascript' th:src='@{/js/navbar.js}'></script>
			
			
			
	</header>
	
	<body style="background-color: black;"></body>

</html>