<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
	
	</head>
	
	<body>
	<!--Searchbar-->
    <div id="searchbarComplex">
    	<p> Nach anderen Spielern suchen</p>
        <input class="form-control" id="searchBar" type="text" placeholder="Search...">
                <div class="panel-body" id="searchedUser">
                    <ul class="list-group">
                        <li style="background-color: rgb(128, 128, 128);" th:each="u : ${allUsers}" class="list-group-item"><a style="color:white;" th:text="${u.firstName} + ' ' + ${u.lastName}" th:href="@{/users/{id}(id=${u.userId})}">No user found</a></li>
                    </ul>
      </div>
		
	 <!--Search Filter-->
    <script>
        //When doc has loaded
        $(document).ready(function () {
            //When clicking on the seachbar
            $("#searchBar").on("focus", function () {
                $("#searchedUser").toggle();
            });
            //Leaving' the search bar
            $("#searchBar").on("blur", function () {
				//Short delay -> workaround to allow clicking on searched users without toggling them so you cant click them
            	setTimeout(function(){$("#searchedUser").toggle();}, 200);
            });
            //When typing a char in the seachbar
            $("#searchBar").on("keyup", function (event) {
                
                var value = $(this).val().toLowerCase();
                //Foreach element
                $(".list-group li").filter(function () {
                    //indexOf() returns the positions of the char typed in the search bar (returns -1 if word doesnt contain char --> toggle element)
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
	</body>

</html>