<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Last Man Standing Tournament</title>
</head>
<body>
<form action="#" th:action="@{/tournaments/create?LASTMANSTANDING}" th:object="${tournament}" id="lastManStanding" name="lastManStanding" method="post">
  <div class="form-group">
    <label for="tournamentName">Tournament Name</label>
    <input type="text" class="form-control" id="tournamentName" placeholder="Tournament name..." th:field="*{tournamentName}">
  </div>
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>