<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose format</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' th:src="@{/js/tournamentCreation.js}"></script>
</head>
<body>
<div>
    <select class="form-control" id="tournamentFormats" name="tournamentFormats">
        <option value="" selected disabled hidden>Choose format</option>
        <option th:each="tournamentFormat : ${tournamentFormats}"
                th:value="${tournamentFormat}"
                th:text="${tournamentFormat.getFormat()}"></option>
    </select>
    <p id="form"></p>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Create you tournament</title>-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
    <!--<tbody>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td th:if="${tournament.format=='SINGLEELIMINATION'}" th:insert="tournament/createsingleelimination"></td>-->
        <!--<td th:if="${tournament.format=='LASTMANSTANDING'}" th:insert="tournament/createlastmanstanding"></td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Create a Tournament</title>-->
<!--</head>-->
<!--<body>-->
<!--<a th:each="tournamentFormat : ${tournamentFormats}">-->
    <!--<a th:href="@{/tournaments/create(${tournamentFormat})}"><div class='col-lg-5 container' style='border-style: groove; margin-top: 10px; box-shadow: 4px 4px black;' onmouseover='this.style.backgroundColor = "lightgrey"; this.style.boxShadow = "8px 8px black";' onmouseout='this.style.backgroundColor = "white"; this.style.boxShadow = "4px 4px black";'>-->
        <!--<h3 style='text-align: center; margin: 10px;' th:text="${tournamentFormat.getFormat()}"></h3>-->
    <!--</div></a>-->
<!--</a>-->
<!--</body>-->
<!--</html>-->
<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a Tournament</title>
</head>
<body>
<form action="#" th:action="@{/tournaments/create}" th:object="${tournamentFormats.SINGLEELIMINATION}" method="post">
    <p>Tournament Name: <input type="text" th:field="*{tournamentName}" /></p>
    <p>Start Date: <input type="date" th:field="*{startDate}" /></p>
    <p>Format: <input type="text" th:field="*{format}" /></p>
    <p><input type="submit" value="Submit"></p>

    <span th:utext="${successMessage}"></span>


</form>
</body>
</html>

-->

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<title>Create a Tournament</title>-->
<!--</head>-->
<!--<body>-->
<!--<a th:each="tournamentFormat : ${tournamentFormats}">-->
<!--<form action="#" th:action="@{/tournaments/create}">-->
<!--<p><select class="form-control" id="tournamentFormat" name="SINGLEELIMINATION">-->
<!--<option th:text="${tournamentFormat.getFormat()}"></option>-->
<!--</select>-->
<!--</p>-->
<!--<p><input type="submit" value="Submit"></p>-->

<!--<span th:utext="${successMessage}"></span>-->
<!--</form>-->
<!--</a>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<title>Create a Tournament</title>-->
<!--</head>-->
<!--<body>-->
<!--<a th:each="tournamentFormat : ${tournamentFormats}">-->
<!--<form action="#" th:action="@{tournament/create}">-->
<!--<button th:formaction="@{/tournaments/create(${tournamentFormat})}" th:text="${tournamentFormat}"></button>-->
<!--</form>-->
<!--</a>-->
<!--</body>-->
<!--</html>-->
