<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Last Man Standing Tournament</title>
</head>
<body>
<form action="#" th:action="@{/tournaments/create/lastmanstanding?LASTMANSTANDING}" th:object="${tournament}" id="lastManStanding" name="lastManStanding" method="post">
    <p>Tournament Name: <input type="text" th:field="*{tournamentName}" /></p>
    <p>Start Date: <input type="date" th:field="*{startDate}" /></p>
    <p><input type="submit" value="Submit"></p>

    <span th:utext="${successMessage}"></span>
</form>
</body>
</html>