<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Choose format</title>-->
<!--</head>-->
<!--<body>-->
<!--<a th:each="tournamentFormat : ${tournamentFormats}">-->
    <!--<a th:href="@{/tournaments/create(${tournamentFormat})}"><div class='col-lg-5 container' style='border-style: groove; margin-top: 10px; box-shadow: 4px 4px black;' onmouseover='this.style.backgroundColor = "lightgrey"; this.style.boxShadow = "8px 8px black";' onmouseout='this.style.backgroundColor = "white"; this.style.boxShadow = "4px 4px black";'>-->
        <!--<h3 style='text-align: center; margin: 10px;' th:text="${tournamentFormat.getFormat()}"></h3>-->
    <!--</div></a>-->
<!--</a>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose format</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' th:src="@{/js/tournamentCreation.js}"></script>
</head>
<body>
<div>
    <form action="#" th:action="@{/tournaments/create}" class="form-select-button" method="post">
        <select class="form-control" id="tournamentFormats" name="tournamentFormats">
            <option th:each="tournamentFormat : ${tournamentFormats}"
                    th:value="${tournamentFormat}"
                    th:text="${tournamentFormat.getFormat()}"></option>
        </select>
    </form>
    <input type="submit" value="Create Tournament"/>
</div>
</body>
</html>