<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Adesso Kicker</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<header th:insert="~{fragments/header :: header}"></header>
<body>
<div class="container-fluid text-center">
  <h1 th:text="${tournament.tournamentName}"></h1>
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Players</th>
        <th scope="col">Lives</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="userLive : ${tournament.livesMap}">
        <th scope="row" th:text="${userLive.key.firstName} + ' ' + ${userLive.key.lastName}"></th>
        <td th:text="${userLive.value}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <form class="form" th:action="@{/tournaments/} + ${tournamentId} + '?join'" th:object="${tournament}" method="POST">
    <button type="submit" class="btn btn-primary" name="id" th:value="${user.userId}">Turnier beitreten</button>
  </form>
  <span th:utext="${successMessage}"></span>
  <span th:utext="${failMessage}"></span>
</div>
</body>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</html>