<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${tournament.tournamentName}"></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/singleeliminationpage.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<header th:insert="~{fragments/header :: header}"></header>
<body>
<div class="container-fluid">
  <div th:each="bracket : ${tournament.bracket}" class="row" style="padding: 10px">
    <div th:each="match : ${bracket.row}" class="col">
      <ul class="list-group rounded-0 text-center">
        <li class="list-group-item bg-light" th:if="${match.teamA} != null" th:text="${match.teamA.teamName}"></li>
        <li class="list-group-item bg-light" th:if="${match.teamB} != null" th:text="${match.teamB.teamName}"></li>
        <li class="list-group-item bg-light" th:if="${match.teamA} == null" th:text="TBD"></li>
        <li class="list-group-item bg-light" th:if="${match.teamB} == null" th:text="TBD"></li>
        <!--<li class="d-flex p-1 bg-warning" th:if="${match.teamA} != null" th:text="${match.teamA.teamName}"></li>-->
        <!--<li class="d-flex p-1 bg-warning" th:if="${match.teamB} != null" th:text="${match.teamB.teamName}"></li>-->
        <!--<li class="d-flex p-1 bg-warning" th:if="${match.teamA} == null" th:text="TBD"></li>-->
        <!--<li class="d-flex p-1 bg-warning" th:if="${match.teamB} == null" th:text="TBD"></li>-->
      </ul>
    </div>
  </div>
</div>
<div class="container" th:if="${user} != null">
  <form class="form" autocomplete="off" action="#" th:action="@{/tournaments/} + ${tournamentId} + '?join'" th:object="${tournament}" method="POST">
    <div class="form-group form">
      <label for="teams" th:if="${teams} != null"></label>
      <select class="form-control" id="teams" name="id"  th:if="${teams} != null and ${!teams.empty}">
        <option value="" disabled selected hidden>Wähle dein Team</option>
        <option th:each="team : ${teams}"
                th:value="${team.teamId}"
                th:text="${team.teamId}+' : '+${team.teamName}">
        </option>
      </select>
    </div>
    <button th:if="${teams} != null and ${!teams.empty}" type="submit" class="btn btn-primary btn-block" name="id">Turnier beitreten</button>
    <button th:if="${teams == null}" type="button" class="btn btn-muted btn-block disabled" disabled name="id">Du bist bereits in diesem Turnier</button>
    <button th:if="${teams} != null and ${teams.empty}" type="button" class="btn btn-danger btn-block disabled" disabled name="id">Du bist in keinem Team</button>
    <span id="success" th:utext="${successMessage}"></span>
    <span id="fail" th:utext="${failMessage}"></span>
  </form>
</div>
</body>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</html>
