@import "colorscheme.less";

header {
  font-family: Klavika-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.fa {color: @colorscheme[warm-grey-dark];}

.header-bg {background-color: @colorscheme[warm-grey-light] !important;}

.header-link {margin-top: -10px; margin-left: 20px;}

.header-name-bt {
  margin-top: -10px;
  color: @colorscheme[warm-grey-dark];
  font-size: 14px;
}

.header-dropdown-item-text {color: @colorscheme[adesso-blue];}

.adesso-logo {width: 150px; height: auto;}

.move-2px-right {margin-left: 2px;}

.move-1px-left {margin-left: -2px;}

.hvr-reveal:before { border-color: @colorscheme[adesso-blue]; }
.hvr-fade:before, .hvr-underline-from-left:before , .hvr-shutter-out-horizontal:before , .hvr-underline-from-center:before { background-color: @colorscheme[adesso-blue]; }

.dropdown-item:hover {background-color : @colorscheme[warm-grey-light]; }