@import "colorscheme.less";

h1{
  margin-bottom: 20px;
  margin-top: 20px;
}

.team-description{
  font-size: 15px;
  text-decoration: underline;
  color: @colorscheme[warm-grey-dark];
}
.team-textbox{
  width: 100%;
  font-size: 23px;
}
.team-magin-top{
  margin-top: 15px;
}

.form-check-input{margin-top: 22px;}
.form-check-label{
  font-size: 35px;
  color: @colorscheme[warm-grey-dark];
}

.annotation{margin-top: 30px;}

.creatematch-btn{margin-top: 20px;}