@import "colorscheme.less";

#text-and-searchbar h2{margin-top: 10px;}
#text-and-searchbar{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

#user-statistics-container{text-align: center;}

.card{
  background: @colorscheme[warm-grey-light];
  color: @colorscheme[warm-grey-dark];
  padding: 0px;
}
.card-body{
  font-size: 40px;
  color: @colorscheme[orange];
}
.card-footer{margin-bottom: 0;}