@import "_colorscheme.less";

#text-and-searchbar{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  h2{margin-top: 10px;}
}

#user-statistics-container{text-align: center;}

.card{
  background: @colorscheme[warm-grey-light];
  color: @colorscheme[warm-grey-dark];
  padding: 0;
  .card-body{
    font-size: 40px;
    color: @colorscheme[orange];
  }
  .card-footer{margin-bottom: 0;}
}
