/*Searchbar*/
#searchBar {
    margin-left: 10px;
    width: 80%;
    border-radius: 2px;
    border: 1px solid gray;
}
#searchImg {
    font-size: 15px;
}
#searchBt {
}

/*ContainerTop*/
.containerTop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/*Container Medal*/
.containerMedal {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
}

.elementMedal {
    margin: auto;
    text-align: center;
}

/*Medal Img*/
.elementMedal span{
    margin-top: 15px;
    font-size: 40px;
}

.elementMedal p {
    margin: auto;
    margin-top: 20px;
}

/*ContainerStats*/
.containerStats {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2%;
}
.elementStats{
    text-align: center;
    margin: auto;
}
.elementStats span {
    /*Img size*/
    font-size: 80px;
    margin-top: 30px;
}
p.elementStats {
    color: black;
    margin-left: 0px;
    margin-top: 40px;
}

.btn-sm{
    margin-left: -2px;
    margin-top: -2px;
    padding: 2px 0px;
    width: 25px;
    height: 25px;
    /*Roundness*/
    border-radius: 5px;
}

/*Tags*/
p{
    color: blue;
    margin-left: 10px;
}
h1 {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    margin-top: 10px;
    /*Makes it so that hr covers the hole page horizontally*/
    margin-left: -100px;
    margin-right: -100px;
}