@import "_colorscheme.less";

.setSearchBarHeight(@elementCount: 5; @elementHeight: 50px;){
  .search-bar{
    &-content{
      ul {
        max-height: @elementCount * @elementHeight;
      }
      li {
        min-height: @elementHeight;
        max-height: @elementHeight;
        height: @elementHeight;
      }
    }
  }
}

.search-bar{
  #search-bar-selected{
    background-color: @colorscheme[adesso-blue];
    color: white !important;
  }
  &-content{
    ul {
      overflow-y: scroll;
    }
    li {
      margin: 0;
      line-height: inherit;
      border: none;
      background-color: @colorscheme[warm-grey-light];
      cursor: pointer;
    }
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -15px;
  }
}
.setSearchBarHeight();

