
h1 {
	text-align: center;
}

.sortbtn {
	border-style: solid;
	border-width: 3px;
	height: 95px;
	text-align: center;
	font-size: 30px;
}

.teamBox {
	border-style: solid;
	border-width: 3px;
	height: 80px;
	background-color: #ddf6ff;
	position: relative;
	text-align: center;
	font-size: 30px;
	margin-bottom: 2px;
	
}

.value {
 	top: 50%;
 	transform: translateY(-50%);
}

.dissize{
	margin-left: 0px;
	margin-right: 0px;
}