<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Team</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form autocomplete="off" action="#" th:action="@{/teams/add}" th:object="${team}" method="POST">
    	<p>Team Name: <input type="text" th:field="*{teamName}" placeholder="Name of your Team"/></p>
        <p><input type="submit" value="Team erstellen." /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>