<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Match</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form autocomplete="off" action="#" th:action="@{/matches/add}" th:object="${match}" method="POST">
    <p>Kicker: <input type="text" th:field="*{kicker}" placeholder="Kicker"/></p>
    <p>Datum: <input type="date" th:field="*{date}" placeholder="Datum"/></p>
    
    <select class="form-control" id="teamA" name="teamA">
        <option th:each="teamA: ${teams}"
                th:value="${teamA.teamId}"
                th:text="${teamA.teamId}+' : '+${teamA.teamName}"></option>
    </select>
    <select class="form-control" id="teamB" name="teamB">
        <option th:each="teamB: ${teams}"
                th:value="${teamB.teamId}"
                th:text="${teamB.teamId}+' : '+${teamB.teamName}"></option>
    </select>
    <p><input type="submit" value="Match erstellen." /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>