<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Team</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form autocomplete="off" action="#" th:action="@{/teams/add}" th:object="${team}" method="POST">
    <p>Team Name: <input type="text" th:field="*{teamName}" placeholder="Name of your Team"/>
<th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></p>
    <p>Spieler 1: <select class="form-control" id="playerA" name="playerA">
        <option th:each="playerA : ${users}"
                th:value="${playerA.userId}"
                th:text="${playerA.userId}+': '+${playerA.firstName}+' '+${playerA.lastName}"></option>
    </select>
    </p>
    <p>Spieler 2: <select class="form-control" id="playerB" name="playerB">
        <option th:each="playerB : ${users}"
                th:value="${playerB.userId}"
                th:text="${playerB.userId}+': '+${playerB.firstName}+' '+${playerB.lastName}"></option>
    </select>
    </p>
    <span th:utext="${successMessage}"></span>
    <span th:utext="${failMessage}"></span>
    <p><input type="submit" value="Team erstellen." /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>