<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Adesso-Kicker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--My stylesheet-->
    <link rel="stylesheet" href="../css/tournamentList.css">
    <!--JavaScript-->
    <script language="javascript" type="text/javascript" src="../js/tournamentList.js"></script>
</head>
<body>
    <!--Scrollbar-->
    <div id="scrollbar">
        <!--ScrollbarElement generated here-->
        <div class='scrollElement_expired'>
            <div class='well'>
                <!--Header-->
                <h3>Adesso Einsteiger Turnier</h3>
                <hr>
                <div class='containerMatch'>
                    <div class='elementMatch'>
                        <p style="font-size: 20px;">19.07.2018 | 14.00 Uhr - 17.00 Uhr | Dortmund Kicker 1</p>
                        <p>Raucherraum in der dortmunder Geschäftstelle, Currywurst und Getränke vor Ort. Alle Kollegen/innen sind eingeladen zu kommen wir freuen uns auf alle Leute die Zeit haben.</p>
                    </div>
                    <div class='elementMatch2'>
                        <button class=".btn-primary" onclick="viewTournament(0);">Ansehen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>