<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  <title>Match erstellen</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<br>
<div class="container">
  <div class="jumbotron">
    <h1>Match Erstellung</h1>
    <form autocomplete="off" action="#" th:action="@{/matches/add}" th:object="${match}" method="POST">
      <div class="form-group">
        <label for="kicker">Kicker:</label>
        <select class="form-control" id="kicker" name="kicker">
          <option value="Gebäude 1 - Raucherlounge">Gebäude 1 - Raucherlounge</option>
          <option value="Gebäude 2 - Raucherlounde">Gebäude 2 - Raucherlounge</option>
        </select>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="date">Datum:</label>
            <input type="date" class="form-control" id="date" th:field="*{date}"/>
          </div>
          <div class="col">
            <label for="time">Uhrzeit:</label>
            <input type="time" class="form-control" id="time" th:field="*{time}"/>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
      <div class="form-group">
        <label for="teamA">Team 1:</label>
        <select class="form-control" id="teamA" name="teamA">
          <option th:each="teamA: ${teams}"
                  th:value="${teamA.teamId}"
                  th:text="${teamA.teamId}+' : '+${teamA.teamName}">
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="teamB">Team 2:</label>
        <select class="form-control" id="teamB" name="teamB">
          <option th:each="teamB: ${teams}"
                  th:value="${teamB.teamId}"
                  th:text="${teamB.teamId}+' : '+${teamB.teamName}">
          </option>
        </select>
      </div>
      <div class="alert alert-danger" th:if="${#fields.hasErrors('teamA')}" th:errors="*{teamA}"></div>
      <div class="alert alert-success" th:if="${successMessage!=null}" th:utext="${successMessage}"></div>
      <button type="submit" class="btn btn-primary">Team erstellen</button>
    </form>
  </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>