<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Match</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<header th:insert="~{fragments/header :: header}"></header>

<body>
<br>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="${match.getGermanDate()} + ' | ' + ${match.kicker}">
            Keine Zeit/Ort gefunden
        </div>
        <div class="card-body">
            <h3 class="card-title" th:text="${match.teamA.teamName} + ' gegen ' + ${match.teamB.teamName}"></h3>
            <p>
            <div class="card-text" th:text="${match.teamA.teamName}+': '+ ${match.teamA.playerA.firstName} + ' ' +${match.teamA.playerA.lastName} +' und '+ ${match.teamA.playerB.firstName}+' '+${match.teamA.playerB.lastName}"></div>
            <div class="card-text" th:text="${match.teamA.teamName}+': '+ ${match.teamB.playerA.firstName} + ' ' +${match.teamB.playerA.lastName} +' und '+ ${match.teamB.playerB.firstName}+' '+${match.teamB.playerB.lastName}"></div>
            </p>
        </div>
        <div class="card-footer text-muted" th:text="'Gewinner: ' + ${match.winner}">Noch nicht gespielt</div>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>